<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registrarse | InTouch</title>
  <link rel="icon" type="image/x-icon" href="../img/logo_fondo.ico">
  <link rel="stylesheet" href="../css/auth.css">
</head>
<body>
  <img src="../img/logo.png" alt="Logo InTouch" class="logo"/>
  <h2>Registrarse</h2>
    <div class="container" action="../php/register.html">
        <h2>Crear cuenta</h2>
        <form method="POST">
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="email" name="email" placeholder="Correo electrónico" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <label for="imagen">Avatar (opcional)</label>
          <div class="file-input-wrapper">
            <input type="file" id="imagen" name="imagen" accept="image/*">
          </div>
        <button type="submit">Registrarme</button>
        </form>
        <p>¿Ya tenés cuenta? <a href="login.html">Iniciar sesión</a></p>
    </div>
</body>
</html>